In [1]:
t5=1,2,3,4
print(t5,type(t5))

(1, 2, 3, 4) <class 'tuple'>

In [2]:
#always packed in paranthesis
#comma mandatory

In [3]:
t1=(1,2,3,4,5)
print(t1,type(t1))

(1, 2, 3, 4, 5) <class 'tuple'>

In [4]:
t1="12"
print(t1,type(t1))

12 <class 'str'>

In [5]:
t1="12",
print(t1,type(t1))

('12',) <class 'tuple'>

In [8]:
t1="shagun"
t2="gupta"
full=t1+t2
print(type(full),(full))
print(full*2)

<class 'str'> shagungupta
shagunguptashagungupta

In [9]:
x="sha"
print(len(x))

3

In [10]:
x="shag","hell","disi"
print(len(x))

3

In [11]:
x="shagun"
for i in x:
    print(i)

s
h
a
g
u
n

In [18]:
s="a","quick","brown","fox","jumps","over","a","lazy","dog"
print(s.index("brown"))

2

In [20]:
print(s.count("a"))
print(s.count("k"))

2
0

In [22]:
t=7,4,6,2,9,0,8,1
print(sorted(t))          #arrange in ascending order

[0, 1, 2, 4, 6, 7, 8, 9]

In [29]:
print(sorted(t,reverse=True)) 
#descending
print(min(t))
print(max(t))
print(sum(t))

[9, 8, 7, 6, 4, 2, 1, 0]
0
9
37

In [8]:
z=("z",'B'," ",">","a","L")
print(sorted(z))
print(max(z))
print(min(z))
print(sorted(z,reverse=True))

[' ', '>', 'B', 'L', 'a', 'z']
z

['z', 'a', 'L', 'B', '>', ' ']

In [9]:
for i in z:
    print(i,"...",ord(i))

z ... 122
B ... 66
  ... 32
> ... 62
a ... 97
L ... 76

In [10]:
ord("9")

57

In [11]:
ord(" ")

32

In [12]:
ord("S")

83

In [14]:
print("".join(z))

zB >aL

In [15]:
print(" ".join(z))

z B   > a L

In [16]:
print(",".join(z))

z,B, ,>,a,L

In [23]:
s = "abcd j%^^&* hdbwkdcn1244454"
for i in s:
    if i.isalpha():
        print(i)

a
b
c
d
j
h
d
b
w
k
d
c
n

In [33]:
s = "abcd j%^^&* hdbwkdcn1244454"
c=0
for i in s:
    if i.isalnum():
        print(i)
        c=c+1
    else:
        print(i)
            
    
print(c)

a
b
c
d

j
%
^
^
&
*

h
d
b
w
k
d
c
n
1
2
4
4
4
5
4
20

In [34]:
s = "abcd j%^^&* hdbwkdcn1244454"
c=0
a=0
d=0
for i in s:
    if i.isalpha():
        print(i)
        a=a+1
    elif i.isdigit():
        d=d+1
    else:
        c=c+1
print(a,d,c)

a
b
c
d
j
h
d
b
w
k
d
c
n
13 7 7

In [38]:
s="banana"
for i in s:
    if s.count(i)==1:
        print(i)

b

In [40]:
s="deepanshu"
z=""
for i in s:
    if s.count(i)==1:
        z=z+i
    else:
        pass
print(z)

dpanshu

In [42]:
s="banana"
q=""                   #repeted character will come only once
for i in s:
    if i not in q:
        q=q+i
print(q)

ban

In [47]:
s="a quick brown fox jumped over a lazy dog"
q=""
for i in s:
    if i.isspace():
        pass
    elif i not in q:
        q=q+i
print(q)

aquickbrownfxjmpedvlzyg

In [48]:
s="a quick brown fox jumped over a lazy dog"
q=""
for i in s:
    if i.isspace():
        pass
    elif i not in q:
        q=q+i
print(q)
t=sorted(z)
print("".join(t))

aquickbrownfxjmpedvlzyg
adhnpsu