In [1]:
mylist=["apple","banana","cherry","mango","orange"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry', 'mango', 'orange']
<class 'list'>

In [4]:
mylist=["apple","banana","cherry","mango","orange"]
print(len(mylist))  #listlength

5

In [10]:
thislist=[12,34,6,True,False,"shagun",456566,231.5]
          
print(thislist[3])                     #starts indexing from zero from left to right and indexing start from -1 from right to left

True

In [11]:
thislist=[12,34,6,True,False,"shagun",456566,231.5]
print(thislist[-3])

shagun

In [15]:
thislist=[12,34,6,True,False,"shagun",456566,231.5]
print(thislist[0:5])      #slicing

[12, 34, 6, True, False]

In [17]:
thislist=[12,34,6,True,False,"shagun",456566,231.5]
print(thislist[0:3:2])

[12, 6]

In [25]:
mylist=["apple","banana","cherry","mango","orange"]
mylist[3]="strawberry"
print(mylist)

['apple', 'banana', 'cherry', 'strawberry', 'orange']

In [24]:
#change a range of item value

In [27]:
a=[1,2,3,4,5,6,7,8,9,11]
a[2:3]="pen","book","rejister"
print(a)

[1, 2, 'pen', 'book', 'rejister', 4, 5, 6, 7, 8, 9, 11]

In [28]:
#append=add

In [30]:
a=[12,44,56,33,66,7,32,55]
a.append(-8)
print(a)

[12, 44, 56, 33, 66, 7, 32, 55, -8]

In [32]:
a=["apple","banana","cherry","mango","orange"]
a.remove("banana")
print(a)

['apple', 'cherry', 'mango', 'orange']

In [33]:
mylist=["apple","banana","cherry","mango","orange"]
mylist.reverse()
print(mylist)

['orange', 'mango', 'cherry', 'banana', 'apple']

In [35]:

l=[12,3,2,1,34,23,3,2,223,3432,11323,22442]
print(len(l))
a=0
for i in range(12):
    a=a+l[i]
    i=i+1
print("the sum of list is",a)

12
the sum of list is 37500

In [38]:
l=[12,22,12,33,3,45,2]
print(len(l))
a=1
for i in range(7):
    a=a*l[i]
    i=i+1
print("the product of all the numbers in the list are",a)

7
the product of all the numbers in the list are 28226880

In [1]:
#list are sequence of characters which are seperated by commas
#list always represent in square brackets
#list are mutable in nature we can do insertion,deletion

In [1]:
l=[12,33,44,22,67,890,12]
print(sum(l))

1080

In [2]:
print(max(l))

890

In [3]:
print(min(l))

12

In [8]:
l=[12, 33, 44, 22, 67, 890, 12]
u=l[::-1]
print("Reversed list",u)

Reversed list [12, 890, 67, 22, 44, 33, 12]

In [12]:



my_list= [1, 2, 2,3,2, 3, 4, 4, 5]
result = remove_duplicates(my_list)
print("List with duplicates removed:", result)

List with duplicates removed: [1, 2, 3, 4, 5]

In [15]:
l=[2,4,5,2,4,5,2,3,4,5,2,3,4,5,2,4,5,3,2,2,3,4,3]
r=remove_duplicates(l)
print(r)

[2, 3, 4, 5]

In [20]:
l=[1,2,3,4,5,5,1,2,3,4,5,4,5,1,3,2,4,5,2]
x=int(input("enter the number"))
count=0
for i in l:
    if x==i:
        count+=1
print(count)

enter the number2
4

In [21]:
x=int(input("enter a list of numbers seperated by spaces")).split()
unique_elements=0
for element in x:
    if element not in unique_element:
        print(unique_element)

enter a list of numbers seperated by spaces[1,2,3,4,2,3,4,1,3,2,4,5]

ValueError: invalid literal for int() with base 10: '[1,2,3,4,2,3,4,1,3,2,4,5]'

In [31]:
[1+2+3+4+5+6+7+8+9+0]

[45]

In [1]:
l1=[1,2,3,4,5]
print(l1)
print(type(l1))

[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
l2=["a","v","v","b"]
print(l2,type(l2))

['a', 'v', 'v', 'b'] <class 'list'>

In [3]:
l3=[1,2,"a","b",4.5]
print(l3,type(l3))

[1, 2, 'a', 'b', 4.5] <class 'list'>

# list methods

In [4]:
l=["a","quick","brown","fox","jumps","over","the"]
print(l)
print(len(l))

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the']
7

In [7]:
#append
l.append("lazy")          #jitni brr run kroge utni brr print hojayega in append function
print(l)             #append means to add something

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'lazy']

In [10]:
l.append("dog")
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'lazy', 'dog', 'dog', 'dog']

In [14]:
l.extend(["in"])       #extend print character by character
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'lazy', 'dog', 'dog', 'dog', 'in', 'in', 'in', 'in']

In [16]:
l.extend(["in","the"])
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'lazy', 'dog', 'dog', 'dog', 'in', 'in', 'in', 'in', 'in', 'the', 'in', 'the']

In [17]:
#insert

In [18]:
l.insert(8,"labra")   #insert function is used to insert the string in specific position

print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'labra', 'lazy', 'lazy', 'dog', 'dog', 'dog', 'in', 'in', 'in', 'in', 'in', 'the', 'in', 'the']

In [19]:
l.pop(8)

'labra'

In [20]:
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'lazy', 'dog', 'dog', 'dog', 'in', 'in', 'in', 'in', 'in', 'the', 'in', 'the']

In [21]:
l.pop()

'the'

In [22]:
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'lazy', 'dog', 'dog', 'dog', 'in', 'in', 'in', 'in', 'in', 'the', 'in']

In [23]:
l.pop(8)
print(l)

['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'lazy', 'dog', 'dog', 'dog', 'in', 'in', 'in', 'in', 'in', 'the', 'in']

In [27]:
l=[2,5,1,2,8,6,5,9]
print(sorted(l,reverse=True))

[9, 8, 6, 5, 5, 2, 2, 1]

In [28]:
l=[2,5,1,2,8,6,5,9]
print(sorted(l))

[1, 2, 2, 5, 5, 6, 8, 9]

In [29]:
print(max(l))

9

In [31]:
print(min(l))

1

In [32]:
l.sort()
print(l)

[1, 2, 2, 5, 5, 6, 8, 9]

In [33]:
l5=[1,100,0]
print(sorted(l5))

[0, 1, 100]

In [34]:
print(l5)

[1, 100, 0]

In [35]:
l5.sort()
print(l5)

[0, 1, 100]

In [38]:
a=["a","quick","brown","fox","jumps","over","the"]
print[::-1]
l.reverse()

TypeError: 'builtin_function_or_method' object is not subscriptable

In [39]:
l=["a","b","c"]
l[1]="xyz"
print(l)

['a', 'xyz', 'c']

In [41]:
t1=("a","b","c")
t1[1]="hello"       #tupple is immutable
print(t1)

TypeError: 'tuple' object does not support item assignment

In [42]:
l=[1,2,3,4,[5,6],7,8]
print(l)
print(len(l))

[1, 2, 3, 4, [5, 6], 7, 8]
7

In [45]:
l1=[1,[2,3,4,[[5,6]]],[7],8]
print(l1,len(l1))

[1, [2, 3, 4, [[5, 6]]], [7], 8] 4

In [48]:
l=[[1,2,3,4,[5,6],7,8]]
print(len(l))

1

In [49]:
l2=["a","quick","brown",["fox","jumps"],"over","the","lazy","dog"]
print(len(l2))
print(l2[1])
print(l2[1:2])
print(l2[3])
print(l2[3:4])

print(l2[2][2])
print(l2[2][2:])
print(l2[3:4][0])
print(l2[3:4][0][1])

print(l2[3:4][0][1][2])
print(l2[3:4][0][1][2:])
print(l2[4:])

8
quick
['quick']
['fox', 'jumps']
[['fox', 'jumps']]
o
own
['fox', 'jumps']
jumps
m
mps
['over', 'the', 'lazy', 'dog']

In [4]:
l1=[[1,2,3,[4,5,6],7,8,9],10,[11,12,13],14,15,16,17]
print(l1)

[[1, 2, 3, [4, 5, 6], 7, 8, 9], 10, [11, 12, 13], 14, 15, 16, 17]

In [8]:
print(l1[0])
print(l1[0:1])
print(l1[3:4])
print(l1[0][0])
print(l1[0:1][0])
print(l1[0][3])
print(l1[0][6])
print(l1[0:1][9:])
#print(l1[0][9])
#print(l1[0:1][9])
print(l1[2][2])
print(l1[2])
print(l1[2][-1])
#print(l1[0:1][1])

[1, 2, 3, [4, 5, 6], 7, 8, 9]
[[1, 2, 3, [4, 5, 6], 7, 8, 9]]
[14]
1
[1, 2, 3, [4, 5, 6], 7, 8, 9]
[4, 5, 6]
9
[]
13
[11, 12, 13]
13

In [9]:
print(l1[0][3][0])
print(l1[6])
print(l1[0][5])
print(l1[0:2])
print(l1[0:3])

4
17
8
[[1, 2, 3, [4, 5, 6], 7, 8, 9], 10]
[[1, 2, 3, [4, 5, 6], 7, 8, 9], 10, [11, 12, 13]]

In [10]:
print(l1[0:3][2][1])
print(l1[0][0:5])
print(l1[4])
print(l1[0][2:14])
print(l1[0][2:14])
print(l1[0:1000])
print(l1[0][-4])
print(l1[-5][-2:])
print(l1[-7][-4:])

12
[1, 2, 3, [4, 5, 6], 7]
15
[3, [4, 5, 6], 7, 8, 9]
[3, [4, 5, 6], 7, 8, 9]
[[1, 2, 3, [4, 5, 6], 7, 8, 9], 10, [11, 12, 13], 14, 15, 16, 17]
[4, 5, 6]
[12, 13]
[[4, 5, 6], 7, 8, 9]

In [11]:
list=[["cats","vs","dogs"],["we know this"]]
print(len(list))
print(list[1])
print(list[0:10])
print(list[0][1])
print(list[0][1:3])
print(list[0][0:3])

2
['we know this']
[['cats', 'vs', 'dogs'], ['we know this']]
vs
['vs', 'dogs']
['cats', 'vs', 'dogs']

In [13]:
#[ans loop]
a=[i for i in range(1,10)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
l1=[]
for i in range(1,10):
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8]

In [15]:
#[ans loop if condition]
l2=[i for i in range(1,10) if i%2==0]
print(l2)

[2, 4, 6, 8]

In [16]:
x=[]
for i in range(1,10):
    if i%2==0:
        x.append(i**2)
    else:
        x.append(i**3)
print(x)

[1, 4, 27, 16, 125, 36, 343, 64, 729]

In [17]:
#[ans if condition else ans loop]
d=[i**2 if i%2==0 else i**3 for i in range(1,10)]
print(d)

[1, 4, 27, 16, 125, 36, 343, 64, 729]

# dictonary

In [3]:
#dic are my mutable data types that stores the non homogenous elements
#dic stores the elements in a key value pair
#each key value pairs are seperated by commas
#key and value are seperated by colon
#dic always represnts in {}
#dictonary key should be unique

In [4]:
d={1:"a","xyz":"hello","three":3}
print(d)
print(type(d))
print(len(d))

{1: 'a', 'xyz': 'hello', 'three': 3}
<class 'dict'>
3

In [5]:
d1={3:"sd","abc":123,3:"three",1:"one"}
print(len(d1))
print(d1)

3
{3: 'three', 'abc': 123, 1: 'one'}

# dictonary methods

In [11]:
d={0:"a",1:"quick",2:"brown",3:"fox",4:"jumps","over":100,50:"the"}
print(d)
print(len(d))

{0: 'a', 1: 'quick', 2: 'brown', 3: 'fox', 4: 'jumps', 'over': 100, 50: 'the'}
7

In [12]:
print(d[3])
print(d["over"])
print(d[99])

fox
100

KeyError: 99

In [15]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys([0, 1, 2, 3, 4, 'over', 50])
dict_values(['a', 'quick', 'brown', 'fox', 'jumps', 100, 'the'])
dict_items([(0, 'a'), (1, 'quick'), (2, 'brown'), (3, 'fox'), (4, 'jumps'), ('over', 100), (50, 'the')])

In [17]:
#updats=add on things
d.update({12:"lazy"})
print(d)

{0: 'a', 1: 'quick', 2: 'brown', 3: 'fox', 4: 'jumps', 'over': 100, 50: 'the', 12: 'lazy'}

In [18]:
d.pop("over")
print(d)

{0: 'a', 1: 'quick', 2: 'brown', 3: 'fox', 4: 'jumps', 50: 'the', 12: 'lazy'}

In [19]:
d.popitem()
print(d)

{0: 'a', 1: 'quick', 2: 'brown', 3: 'fox', 4: 'jumps', 50: 'the'}

In [21]:
print(sorted(d.keys(),reverse=True))
print(sorted(d.values(),reverse=True))        #descending

[50, 4, 3, 2, 1, 0]
['the', 'quick', 'jumps', 'fox', 'brown', 'a']

In [22]:
d.clear()
print(d)

{}

In [23]:
d[1]="a"
d[50]=55.5
d[2]=(1,2,3,)
d[10]=[1,"b","xyz"]
d["course"]={"prog":["python","sql"],"tools":["tableau","excel"]}
d.update({9:"fox"})
print(d)
print(len(d))

{1: 'a', 50: 55.5, 2: (1, 2, 3), 10: [1, 'b', 'xyz'], 'course': {'prog': ['python', 'sql'], 'tools': ['tableau', 'excel']}, 9: 'fox'}
6

In [25]:
print(d[10])
print(d["course"]["tools"][0])
print(d.pop("course"))
d.popitem()

[1, 'b', 'xyz']
tableau
{'prog': ['python', 'sql'], 'tools': ['tableau', 'excel']}

(9, 'fox')

In [26]:
print(d)

{1: 'a', 50: 55.5, 2: (1, 2, 3), 10: [1, 'b', 'xyz']}

In [27]:
#dictonary comprehension

In [28]:
d1={i:i+1 for i in range(1,10)}
print(d1)

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [29]:
d2={i:i-1 for i in range(1,10) if i>5}
print(d2)

{6: 5, 7: 6, 8: 7, 9: 8}

In [30]:
d3={i:"even" if i%2==0 else "odd" for i in range(1,10)}
print(d3)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

In [33]:
d4={i:i*2 for i in "apple"}
print(d4)

{'a': 'aa', 'p': 'pp', 'l': 'll', 'e': 'ee'}

In [35]:
L=[1,2,3,1,2,3,4]
l=[]
for i in L:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 3, 4]

In [36]:
L=[1,2,3,1,2,3,4]
a=[]
for i in L:
    if L.count(i)==1:
        a.append(i)
print(a)

[4]

In [37]:
s="level"
if s==s[::-1]:
    print("pallindromic")
else:
    print("not pallindrome")

pallindromic

In [38]:
s="nitin"
if s==s[::-1]:
    print("pallindromic")
else:
    print("not pallindrome")

pallindromic